<div class="flex items-center justify-center h-screen select-none">
    <div class="dashboard-background relative rounded-lg"></div>
    <div class="dashboard-header absolute font-semibold text-white rounded-lg text-2xl">Dashboard</div>
</div>